main {
	width: 90%;
	margin: 1em auto 1em auto;
	padding: 1em;
	height: 500px;
	background: white;
	border: 1px solid #999;
	.headerMain {
	border-bottom: 1px solid #656262;
	overflow: hidden;
		.iz--HeaderMain {
			.title {
			font-weight: 400;
			color: #656262;
			}
			float: left;
		}
		.de--HeaderMain {
			color: #656262;
			float: right;
		}
	}


	.pedidosMain {
		.navPedidos .ul {
			text-align: center;
			background: #8E8E8E;
			padding: 0.5em 0;
			.list {
				display: inline-block;
				list-style-type: none;
				width: 24%;
				color: white;
			}
		}
	}
	.content {
		.ul {
			text-align: center;
			background: #fff;
			padding: 0.2em 0;
			border-bottom: 1px solid black;
			.contentUl {
				.list {
				display: inline-block;
				list-style-type: none;
				width: 24%;
				color: black;
					&:first-child {
						font-weight: 700;
					}
					.buttonAproved {
						background: #26A65B;
						padding: 0.5em 0.5em;
						border: none;
						color: white;
						border-radius: 4px;
						outline: medium none;
						i {
							margin: 0 0.5em 0 0;
						}
					}
				}

			}
		}
	}
}