.contenido {
	width: 100%;
	background: white;
	padding: 1em;
	border: 1px solid #D8D8D8;
	height: 500px;
	.contenido--Header {
		.title {
			color: #323131;
			font-weight: 400;
			border-bottom: 1px solid #323131;
		}
	}
	.contenido--Nav {
		.ul {
			.list {
				list-style-type: none;
				width: 100%;
				margin: 1em 0;
				background: linear-gradient(#E0E0E0, #F5F2F2, #FFFCFC);
				.link {
					display: flex;
					text-decoration: none;
					color: #444444;
					padding: 1em 0.5em;
					justify-content: space-between;
					align-items: center;
					width: 300px;
					.list--Icon {
						i {
							font-size: 2em;
						}
					}
					.list--Data {
						width: 250px;
						.title:first-child {
							font-size: 1.2em;
						}
						.title:last-child {
							font-style: italic;
							font-size: 0.9em;
						}
					}
				}
			}
		}
	}
}

.content {
	.contenido--Header {
		border-bottom: 1px solid #323131;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 0.5em 0;
		.title {
		color: #323131;
        font-weight: 400;
        
		}
	}
	.contenido--Filter {
		padding: 0.5em 0 0.5em 0;
		text-align: right;
		width: 50%;
		.searchFilter {
			box-shadow: 0 0 1px black;
			border: none;
			outline: medium none;
			padding: 0.5em 1em;
			border-radius: 4px;
			color: #999999;
		}
	}
	.contenido--Details {
		width: 100%;
		margin: 1em 0;
		border: 1px solid #999;
		text-align: center;
		.ul--Details {
			text-align: center;
			background: #F2F1EB;
			display: flex;
			justify-content: space-between;
			padding: 0.5em 0;
			border-bottom: 1px solid #999;
			.list {
				list-style-type: none;
				width: 10%;
				font-weight: 700;
				font-size: 0.9em;
			}
		}
		.details {
			display: flex;
			justify-content: space-between;
			font-size: 0.9em;
			padding: 0.5em 0;
			border-bottom: 1px solid #999;
			&:last-child {
				border-bottom: none;
			}
			.details--Name {
				width: 25%;
				text-align: left;
				padding: 0 0 0 1em;
				.title {
					font-weight: 700;
				}
			}
			.details--Email {
				width: 23%;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.details--Celu {
				width: 23%;
				text-align: left;

				
			}
			.details--Activo {
				
				width: 10%;
			}
		}
	}
}

