.sendBtn {
	background: #444444;
    border: none;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 1em;
    outline: medium none;
    border-radius: 4px;
    box-shadow: 0 2px 0 black;
    &:active {
    	animation: hot 1s
    }
    @keyframes hot {
						20% {
							transform: scale(0.9);
						}
					}

}