.header {
	background: #36459b;
	box-shadow: 0 0 2px #232F75;
	line-height: 60px;
	position: relative;
	.header--Cont {
		width: 1220px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.header--Cont--Iz {
			width: 20%;
			.header--Cont--Figure {
				img {
					width: 100px;
				}
				.Title {
					color: white;
					font-weight: 400;
					font-size: 1.5em;
				}	
			}
		}
		.header--Cont--Center {
			display: flex;
			justify-content: space-between;
			width: 30%;
			.Center--Day {
				.article {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.article--Icon i {
						color: white;
						font-size: 1.5em;
					}
					.article--Data {
						line-height: 18px;
						margin: 0 0 0 0.5em;
						span {
							display: block;
							color: white;
							font-size: 0.9em;
						}
					}
				}
			}
		}
		.headder--Cont--De {
			width: 35%;
			text-align: right; 
			.header--Cont--Nav {
				.ul {
					.list {
						list-style-type: none;
						font-size: 1.4em;
						margin: 0 0.8em 0 0;
						display: inline-block;
						padding: 0 0.5em;
						transition: all 0.5s linear;
						.link {
							text-decoration: none;
							color: white;
						}
						&:hover {
							background: #3D4DA9;
						}
						&:last-child {
							font-size: 1em;
							margin: 0;
							padding: 0;
							background: transparent;
							color: #00BCD4;
							text-transform: capitalize;
							i {
								padding: 0 0.2em 0 0;
								color: #00BCD4;
							}
						}
					}
				}
			}
		}
	}
}