.header .header--Cont {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header .header--Cont .header--Cont--Iz {
  width: 20%;
}

.header .header--Cont .header--Cont--Iz .header--Cont--Figure img {
  width: 100%;
}

.header .header--Cont .header--Cont--De {
  width: 70%;
}
