.impresion--Success {
	background: white;
	left: 50%;
}
.background--Mesa {
	background: rgba(12, 12, 12, 0.77);
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	position: fixed;
	display: none;
	z-index: 29;
}
.mesasSelect {
	cursor: pointer;
}

.background--Error {
	position: absolute;
	background: white;
	box-shadow: 0 0 16px #dedede;
	border: 1px solid #dedede;
	top: 50%;
	left: 50%;
	width: 20%;
	padding: 0.5em;
	margin-left: -8em;
    margin-top: -5em;
    display: none;
	.header--Error {
		text-align: center;
		.title {
			font-weight: 400;
			color: red;
		}
	}
	.description--Error {
		.description {
			font-size: 0.9em;
		}
	}
}

.jsEditPedidos {
	.idTitle {
		display: none;
	}
	.title--Mesa {
		background: orange;
		color: white;
		padding: 0 0.5em;
		font-size: 0.8rem;
		margin: 0 0.5em 0 0;
		border-radius: 5px;
	}
}
.contSum {
	width: 100%!important;
	.labelCont {
		display: flex;
		justify-content: space-between;
		
		span {
			display: block;
			background: #F0AD4E;
			padding: 0.5em 1em;
			color: #fff;
			border-radius: 4px;
			border: 1px solid #B47C2D;
			&:hover {
				background: #ec971f;
			}
		}
	}
}
.jsDeleteSum {
	width: 44%;
	.labelCont {
		.jsDeleteP {

			background: #D9534F;
			padding: 0.5em 1em;
			color: #fff;
			border-radius: 4px;
			border: 1px solid #d43f3a;
			font-size: 0.9em;
			cursor :pointer;
			&:hover {
				background: #c9302c;
			}
		}
	}
}
.tBackground {
	background: #9E9E9E;
	color: #000;
	.details--Name {
		overflow: hidden;
		.title i {
			color: white;
			width: 18px;
			margin: 0.2em 0;
			float: left;
			color: white;
			}
	}
}

.impresionMesaCerrada {
	position: absolute;
	background: #fff;
	width: 210px;
	left: 0;
	top: 0%;
	box-shadow: 0 0 2px black;
	padding: 0.5em;
	display: none;
	z-index: 30;
	font-size: 0.8em;
	.impresion--Header {
		text-align: center;
		.title {
			font-weight: 400;
		}
		.impresion--SubHeader {
			
		}
	}
}
.buttons--Cont {
	display: flex;
	justify-content: space-between;		
	margin: 0 0 0.5em 0;
}
.imprension--Cont {
	margin: 0.5em 0;

	.numTicket, .imprension--Cont--Fecha, .imprension--Cont--Fecha--Abierto {
		text-align: center;
		font-size: 0.9em;
	}

	.imprension--Cont--Gracias {
		text-align: center;
		margin: 0.5em 0;
	}
	.imprension--Cont--Totall {
		margin: 0.5em 0;
	}
	.imprension--Cont--Descuento {
		.descuento {
			display: flex;
			justify-content: space-between;
			margin: 0.5em 0;
			.descuento--Iz {
				.title {
					
				}
			}
			.descuento--De {
				.title {
					
				}
			}

		}
	}
	.imprension--Cont--Total-Descuento {
		.descuento {
			display: flex;
			justify-content: space-between;
			margin: 0.5em 0;
			.descuento--Iz {
				.title {
					font-weight: 700;
				}
			}
			.descuento--De {
				.title {
					font-weight: 700;
				}
			}

		}
	}
	.imprension--Cont--Header {
		display: flex;
		justify-content: space-between;
		.cont--Iz {
			width: 40%;
		}
		.cont--De {
			width: 40%;
			text-align: right;
		}
	}

	.imprension--Cont--Description {
		display: flex;
		justify-content: space-between;
		.cont--Iz {
			width: 80%;
		}
		.cont--De {
			width: 40%;
			text-align: right;
		}
	}
	.imprension--Cont--Description-Mas {
		display: flex;
		justify-content: space-between;
		.cont--Iz {
			width: 70%;
		}
		.cont--De {
			width: 40%;
			text-align: right;
		}
	}
	.imprension--Cont--Totall {
		overflow: hidden;
		.totall {
			width: 60%;
			float: right;
			display: flex;
			.totall--Iz {
				width: 20%;
			}
			.totall--De {
				width: 80%;
				text-align: right;
			}
		}
	}

}
