.headerNotify {
	position: absolute;
	background: #5CB85C;
	left: 0;
	right: 0;
	width: 100%;
	display: none;
	.success {
		width: 1220px; 
		margin: 0 auto;
		.title {
			font-size: 1em;
			line-height: 32px;
			color: white;
			font-weight: 400;
			i {
				padding: 0 0.5em 0 0;
			}
		}
	}
}