@media print {
	

	.header {
		display: none;
	}
	main {
		display: none;
	}
	.impresionMesaCerrada {
		margin-top: 0;
		font-size: 0.75em;
	}
	.buttons--Cont {
		display: none;
	}
	.impresion--Cont--Gracias {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin: 0.5em 0;
	}
	.jsCocina {
		font-size: 1em;
	}
}