.contenido--Details {
	.contenido--ReportesDay {
		background: #26A65B;
		color: white;
		text-align: left;
		padding: 0.5em;
	}
}
.content--Search {
	[contenteditable='true'] {
		background: #4B77BE;
		padding: 0.2em 0.5em;
		color: white;
		margin: 0 0.2em;
		&:focus {
			background: transparent;
			color: black;
		}
	}
	.linkButton--Reporte {
		margin: 0 0 0 1em;
		background: #000;
		border: none;
		color: white;
		font-size: 1em;
		padding: 0.5em 0.5em;
		border-top-left-radius: 4px;
		outline: medium none;
		i {
			margin: 0 0.5em 0 0;
		}
	}
}
.jsReportes {
	//height: 400px;
	max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0 0.5em 0;
}
.contenido--ReporteTotal {
	.button--SaveTotal {
		margin: 1em 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		span, a {
			display: block;
		}
		.guardar--ElTotal {
			background: #337AB7;
			border: 1px solid #2e6da4;
			border-radius: 4px;
			color: white;
			cursor: pointer;
			padding: 0.5em 1em;
			&:hover {
				background: #286090
			}
		}
		.ver--ReporteMensual {
			background: #D91E18;
			border: 1px solid #96281B;
			border-radius: 4px;
			color: white;
			cursor: pointer;
			padding: 0.5em 1em;
			text-decoration: none;
			i {
				padding: 0 0.5em 0 0;
			}
			&:hover {
				background: #C21C17;
			}
		}
	}
}