main {
	width: 1220px;
	margin: 1em auto 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	.content {
		width: 68%;
		background-color: white;
		border: 1px solid #D8D8D8;
		padding: 1em;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		.content-Mesa--Iz {
			width: 20%;
			border: 1px solid #D8D8D8;
			.content--Bano {
				border-bottom: 1px solid #D8D8D8;
				text-align: center;
				padding: 1em 0;
				background: #F1F1F1;
				.title {
					font-weight: 400;
				}
			}
			.content--Mesa {
				margin: 0.5em auto 0.5em auto;
				 &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
					border-radius: 20%;
				  }
			}
		}
		.content-Mesa--Center {
			width: 38%;
			border: 1px solid #D8D8D8;
			//background: blue;
			
			.mesaRectangular {
				width: 250px;
				margin: 1em auto;
				img {
					width: 32%;
				}
			}
			.content--Mesas-Dos {
				display: flex;
				justify-content: space-between;
				width: 270px;
				margin: 0 auto;
				.content--Mesas-Large {
					.mesaLarge {
						height: 165px;
						.content--Mesa--Number {
							margin-top: -5em;
						}
					}
				}
			}
		}
		.content-Mesa--De {
			width: 38%;
			border: 1px solid #D8D8D8;
			.mesaRectangular {
				width: 250px;
				margin: 1em auto;
				img {
					width: 32%;
				}
			}

			.content--Mesa {
				margin: 0.5em auto 0.5em auto;
				 &:nth-child(1), &:nth-child(2){
					border-radius: 20%;
				  }
			}

			.mesaLarge {
						height: 165px;
						.content--Mesa--Number {
							margin-top: -5em;
						}
					}

					
				
		}

		.content--Mesa {
		  position: relative;
		  width: 110px;
		  height: 70px;
		  padding: 0.5em;
		  cursor: pointer;
		  margin: 0 0 0.5em 0;
		  background: #F1F1F1;
		  border: 1px solid #D8D8D8;
		 
		  &:hover {
		  	background: #323131;
		  }
		  img {
		  	width: 70%;
		  }
		  .content--Mesa--Number {
		  	position: absolute;
		  	left: 50%;
		  	margin-left: -1em;
		  	top: 50%;
		  	margin-top: -2em;
		  	text-align: center;
		  	.titleMesa {
		  		font-weight: 400;
		  		color: #646262;
		  	}
		  }
		}
	}
	.aside {
		width: 28%;
		background-color: white;
		border: 1px solid #D8D8D8;
		.aside--Form {
			padding: 1em;
			.aside--Form--Header {
				border-bottom: 1px solid #323131;
				.title {
					font-weight: 400;
					font-size: 1.2em;
					color: #323131;
				}
			}
			.aside--Form--Fieldset {
				margin: 1em 0 0 0;
				border: none;
				padding: 0;
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
				.sendDelete {
					background: #D91E18;
					border: none;
					color: white;
					font-size: 0.9em;
					padding: 0.5em 1em;
					outline: medium none;
					border-radius: 4px;
					box-shadow: 0 2px 0 #AB1612;
					&:active {
						animation: hot 1s;
					}
					@keyframes hot {
						20% {
							transform: scale(0.9);
						}
					}
				}
				.send {
					background: #444444;
					border: none;
					color: white;
					font-size: 0.9em;
					padding: 0.5em 1em;
					outline: medium none;
					border-radius: 4px;
					box-shadow: 0 2px 0 black;
					&:active {
						animation: hot 1s;
					}
					@keyframes hot {
						20% {
							transform: scale(0.9);
						}
					}
				}
				.fieldset--Iz {
					width: 20%;
					.title {
						font-weight: 400;
						font-size: 0.85em;
					}
				}
				.fieldset--De {
					width: 60%;
					input {
						width: 95%;
						outline: medium none;
						box-shadow: inset 0px 3px 14px -3px #D4D3D3;
						border: none;
						border: 1px solid #999;
						padding: 0.2em 0.2em;
						color: #999;
					}
					select {
						width: 100%;
						outline: medium none;
						box-shadow: inset 0px 3px 14px -3px #D4D3D3;
						border: none;
						border: 1px solid #999;
						padding: 0.2em 0;
						color: #999;
					}
				}
			}
		}
	}
}