.ocupado-JS {
	background: #323131!important;
	img {
	}
	.content--Mesa--Number {
		margin-top: -2em!important;
		line-height: 14px!important;
		:after {
		content: "Ocupado";
		font-size: 0.7em;
		display: block;
	}
		
		.titleMesa {
			color: #FEDA4C!important;
		}
	}

}

.itemSelect {
	background: #C9C9CA;
}
.contSum {
	.title {
		cursor: pointer;
	}
}