.cssNone{
	display: none;
}
.cssPreload {
	text-align: center;
	display:none;
	.cssPreload--Header {
		padding: 1em 0;
		.title {
			font-weight: 400;
			color: #AFAFB7;
		}
	}
}
.jsOcultar {
	display: none;
}
.ventas {
	width: 100%!important;
}
.contenido--ReporteTotal {
	text-align: right;
	width: 100%;
	.header--ReporteTotal {
		.title {
			font-weight: 400;
		}
	}
}